
*{
  color: #fff;
}

body{
  background-color: slategray;
}

.container{
  display: flex;
  justify-content: center;
}

tbody{
  /* box-shadow: 0 0 60px rgb(0.3,0.3,0.3); */
  border-radius: 5%;
}

tbody tr{

}

table td{
  font-size: 3rem;
  color: #fff;
  background-color: crimson;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 2px 5px 50px rgb(0.3,0.3,0.3);
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
}

table td:hover{
  background-color: aquamarine;
}

